<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
世界你好，我是websocket服务器


<script>
    var socket = new WebSocket("ws://localhost:8888/websocket/100");
    if (typeof (socket) == "undefined") {
        console.log("你的浏览器不支持通讯")
        alert("你的浏览器不支持通讯")
    } else {
        console.log("你的浏览器能正常通讯")
        alert("你的浏览器能正常通讯")

        //打开事件
        socket.onopen = function () {
            console.log("Socket 已打开");
            socket.send("这是来自客户端的消息" +  new Date());
        };
        //获得消息事件
        socket.onmessage = function (msg) {
            console.log(msg.data);
            //发现消息进入    调后台获取
            //getCallingList();
        };
        //关闭事件
        socket.onclose = function () {
            console.log("Socket已关闭");
        };

        //发生了错误事件
        socket.onerror = function () {
            alert("Socket发生了错误");
        }


    }

</script>

</body>


</html>